[Unit]
Description="Run the discord bot for opening the door"

[Install]
WantedBy=multi-user.target

[Service]
WorkingDirectory=/home/pi/doorbot-discord/
ExecStart=/home/pi/doorbot-discord/env/bin/python /home/doorbot-discord/main.py
